@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-playpen);
}

:root {
  --background: #4e342e;
  --foreground: #ddd2a7;
  --highlight: #ef798a;
  --accent-a: #727d71;
  --accent-b: #586f7c;
  --card: #4e342e;
  --card-foreground: #ddd2a7;
  --popover: #4e342e;
  --popover-foreground: #ddd2a7;
  --primary: #4e342e;
  --primary-foreground: #ddd2a7;
  --secondary: #ef798a;
  --secondary-foreground: #4e342e;
  --muted: #727d71;
  --muted-foreground: #ddd2a7;
  --accent: #586f7c;
  --accent-foreground: #ddd2a7;
  --destructive: #f44336;
  --destructive-foreground: #ddd2a7;
  --border: #ef798a;
  --input: #586f7c;
  --ring: #ef798a;
  --radius: 0.625rem;
}

body {
  font-family: var(--font-sans), "Playpen Sans", cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark {
  --background: #4e342e;
  --foreground: #ddd2a7;
  --card: #4e342e;
  --card-foreground: #ddd2a7;
  --popover: #4e342e;
  --popover-foreground: #ddd2a7;
  --primary: #4e342e;
  --primary-foreground: #ddd2a7;
  --secondary: #ef798a;
  --secondary-foreground: #4e342e;
  --muted: #727d71;
  --muted-foreground: #ddd2a7;
  --accent: #586f7c;
  --accent-foreground: #ddd2a7;
  --destructive: #f44336;
  --destructive-foreground: #ddd2a7;
  --border: #ef798a;
  --input: #586f7c;
  --ring: #ef798a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
